@import "./mixins.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #E5E5E5;
}

a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

ol,ul {
    list-style: none;
}

.conteiner {
    width: 1100px;
    height: 0 auto;
}

.header-section {
    @include fonth1();
    @include center-element();
    padding: 20px 0px 0px 0px;
    font-size: 43px
}

.text-item {
    @include center-element;
    padding: 20px 0px 0px 0px;
    text-align: center;
    opacity: 0.7;
    font-size: 18px;
}

.location{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.content-block {
    display: block;
    padding-top: 30px;

    .block1 {
        width: 273px;
        height: 446px;
        background: rgb(226, 223, 223);
        border-radius: 20px;
        
       

        img {
            width: 273px;
            height: 240px;
        }

        .header-text-block {
            font-size: 32px;
            background: rgb(226, 223, 223);
            padding: 15px 0px 0px 15px;
        }

        .text-block {
            @include text-font;
            background: rgb(226, 223, 223);
            font-size: 14px;
            opacity: 0.7;
            padding: 11px 0px 0px 15px;
        }

        .btm {
            font-size: 13px;
            background: rgb(226, 223, 223);
            padding: 45px 0px 0px 17px;

            .btm-a {
                color: #FF4B32;
                background: rgb(226, 223, 223);
            }
        }
    }


}

.content-block1 {

    
    padding-top: 30px;

    .block1 {
        width: 273px;
        height: 446px;
        background: rgb(226, 223, 223);
        border-radius: 20px;
        

        img {
            width: 273px;
            height: 240px;
        }

        .header-text-block {
            font-size: 32px;
            background: rgb(226, 223, 223);
            padding: 15px 0px 0px 15px;
        }

        .text-block {
            @include text-font;
            background: rgb(226, 223, 223);
            font-size: 14px;
            opacity: 0.7;
            padding: 11px 0px 0px 15px;
        }

        .btm {
            font-size: 13px;
            background: rgb(226, 223, 223);
            padding: 45px 0px 0px 17px;

            .btm-a {
                color: #FF4B32;
                background: rgb(226, 223, 223);
            }
        }
    }
}

.content-block1 {

    
    padding-top: 30px;

    .block3 {
        width: 273px;
        height: 446px;
        background: rgb(226, 223, 223);
        border-radius: 20px;
        display: flex;
        flex-wrap: wrap;

        img {
            width: 273px;
            height: 240px;
        }

        .header-text-block {
            font-size: 32px;
            background: rgb(226, 223, 223);
            padding: 15px 0px 0px 15px;
        }

        .text-block {
            @include text-font;
            background: rgb(226, 223, 223);
            font-size: 14px;
            opacity: 0.7;
            padding: 11px 0px 0px 15px;
        }

        .btm {
            font-size: 13px;
            background: rgb(226, 223, 223);
            padding: 45px 0px 0px 17px;

            .btm-a {
                color: #FF4B32;
                background: rgb(226, 223, 223);
            }
        }
    }
}
